/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

.padding {
    padding-left: 8%;
    padding-top: 10%;
}

.paddingImg {
    padding-right: 17%;
    opacity: 100%;
}

.paddingSub {
    padding-left: 10%;
}

.noTop {
    padding-top: 0px;
}

.post-content {
    top:0;
    left:0;
    position: absolute;
    width: 100%;
}


.thumbnail{
    position: relative;
    border: none !important;

}

@media (max-width: 375px) {
    .thumbnail h2 {
        color: white;
        font-size: larger;
    }

    .thumbnail h1 {
        color: white;
        font-size: xx-large;
    }
    }

.btn {
    background-color: #fff !important;
    border-color: #4d4d4d !important;
}

html {
    scroll-behavior: smooth !important;
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 18px;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: #fff;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 16px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 17px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 51%;
    margin-left: -25px;
    background-color: #1e1e1e;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }

  .fa {
    padding-top: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-instagram {
    color: #1e1e1e !important;
  }

  .fa-linkedin {
    color: #1e1e1e !important;
  }

  .fa-behance {
    color: #1e1e1e !important;
  }

  .heightFooter {
      height: 850px;
  }

  .fa a {
      text-decoration: none !important;
  }